.modal-overlay {
    position: fixed;

    inset: 0;

    background: rgba(0,0,0,0.4);

    display: flex;

    align-items: center;

    justify-content: center;

    z-index: 1000;
}

.modal-confirm {
    background: white;

    width: 400px;

    padding: 30px;

    border-radius: 24px;

    text-align: center;
}

.modal-confirm p {
    margin: 16px 0;

    color: #666;
}

.modal-confirm strong {
    display: block;

    margin-bottom: 24px;

    color: #333;
}

.modal-actions {
    display: flex;

    justify-content: center;

    gap: 12px;
}

.modal-actions button {
    padding: 12px 18px;

    border: none;

    border-radius: 12px;

    cursor: pointer;
}

.cancelar {
    background: #eee;
}

.excluir {
    background: #e53935;

    color: white;
}