.dev-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dev-card {
    background: white;
    padding: 40px;
    border-radius: 24px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    min-width: 350px;
}

.dev-icon {
    font-size: 48px;
    color: #6c63ff;
    margin-bottom: 20px;
}

.dev-card h1 {
    color: #333;
    margin-bottom: 12px;
}

.dev-card p {
    color: #777;
}

.dev-card button{
    margin-top: 20px;
    padding: 12px 24px;

    border: none;
    border-radius: 12px;

    background: linear-gradient(
        135deg,
        #7b2cbf,
        #9d4edd
    );

    color: white;
    font-size: 15px;
    font-weight: 600;

    cursor: pointer;

    transition: 
        transform 0.2s ease,
        opacity 0.2s ease,
        box-shadow 0.2s ease;

    box-shadow: 0 8px 20px rgba(123, 44, 191, 0.25);
}

.dev-card button:hover{
    transform: translateY(-2px);
    opacity: 0.95;

    box-shadow: 0 12px 25px rgba(123, 44, 191, 0.35);
}

.dev-card button:active{
    transform: scale(0.98);
}